* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-gray: #d8d9db;
    --color-orange: #df974c;

    --gradient-gray: rgba(216, 217, 219, 0.5);
    --gradient-orange: rgba(223, 151, 76, 0.7)
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 24rem;
    height: 36rem;
    display: grid;
    grid-template-areas:
        "display display display display"
        "R1C1     R1C1    R1C2     R1C3 "
        "R2C1     R2C2    R2C3     R2C4 "
        "R3C1     R3C2    R3C3     R3C4 "
        "R4C1     R4C2    R4C3     R4C4 "
        "R5C1     R5C1    R5C1     R5C2 ";
}

.display {
    grid-area: display;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-content: center;
}

.R1C1 {
    grid-area: R1C1;
    background-color: var(--color-gray);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 35px;
}

.R1C2,
.R2C1,
.R2C2,
.R2C3,
.R3C1,
.R3C2,
.R3C3,
.R4C1,
.R4C2,
.R4C3 {
    background-color: var(--color-gray);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 35px;
}

.R5C1 {
    grid-area: R5C1;
    background-color: var(--color-gray);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 35px;
}

.R1C3,
.R2C4,
.R3C4,
.R4C4,
.R5C2 {
    background-color: var(--color-orange);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 35px;

    &:hover {
        background-color: var(--gradient-orange);
    }
}

button {
    &:hover {
        background-color: var(--gradient-gray);
    }
}